.nav {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	padding: 0.5rem 1rem;
	z-index: 100;
	background-color: var(--beige);
}

.nav.sticky {
	background-color: var(--beige-opaque);
}  

.nav-header {
	font-weight: 600;
}

.nav-link-container.flex-row {
	gap: 2rem;
}

.nav-link:hover {
    text-decoration: overline;
}
