.suite-tabs button {
    background: none;
    border: 1px solid #1A1A1A;
    padding: 0.7rem 1.25rem;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.suite-tabs button:hover {
    background: #1A1A1A;
    color: #fff;
    transform: scale(1.05);
  }
  
.suite-tabs button.active {
    background: #1A1A1A;
    color: #fff;
}

.suite-card-container.flex-row {
    justify-content: start;
    gap: 2rem;
    margin: 1rem 2.5rem;
}

.suite-image {
    width: 25vw;             /* Set the width to 25% of the viewport width */
    max-width: 100%;         /* Ensure the image never exceeds its container's width */
    display: block;          /* Make the image a block element to remove any unwanted space below it */
    object-fit: cover;       /* If the aspect ratio is different, this will make sure the image covers the available space without stretching */
}

.suite-card {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.suite-modal-heading.flex-row {
    width: 75%;
    margin: auto;
    justify-content: space-between;
    position: relative;
}

.suite-modal-heading::after {
    content: ""; /* This is required for the pseudo-element to be generated */
    position: absolute;
    bottom: 0; /* Position it at the bottom of the div */
    left: 0; /* Starting from the left edge */
    width: 100%; /* Span the full width of the div */
    height: 1.5px; /* Thickness of the underline */
    background-color: #1A1A1A; /* Color of the underline (change as needed) */
}

.suite-modal-carousel img {
    width: 100%;           
    object-fit: contain; 
    object-position: center; 
}

/* Add this to your CSS file */
.suite-modal-carousel .slick-prev,
.suite-modal-carousel .slick-next {
    z-index: 10; /* Increase z-index to ensure they are above other content */
    position: absolute; /* Position them relative to the carousel */
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Align the center */
    cursor: pointer; /* Pointer cursor on hover */
}

.suite-modal-carousel .slick-prev:before,
.suite-modal-carousel .slick-next:before {
    display: none;
}

.suite-modal-carousel .slick-prev {
    left: 1rem; /* Position from the left */
}

.suite-modal-carousel .slick-next {
    right: 1rem; /* Position from the right */
}